{{- $pages := .root.RegularPagesRecursive -}}
{{- with .filter.Params.filterYear -}}
  {{- $year := string . -}}
  {{- $filtered := slice -}}
  {{- range $pages -}}
    {{- if eq (.Date.Format "2006") $year -}}{{- $filtered = $filtered | append . -}}{{- end -}}
  {{- end -}}
  {{- $pages = $filtered -}}
{{- else -}}
  {{- with .filter.Params.filterCategory -}}
    {{- $pages = where $pages "Params.subcategory" . -}}
  {{- else -}}
    {{- if .filter.Params.filterOther -}}
      {{- $known := slice -}}
      {{- range .root.Sections -}}{{- with .Params.filterCategory -}}{{- $known = $known | append . -}}{{- end -}}{{- end -}}
      {{- $filtered := slice -}}
      {{- range $pages -}}
        {{- if not (in $known (.Params.subcategory | default "")) -}}{{- $filtered = $filtered | append . -}}{{- end -}}
      {{- end -}}
      {{- $pages = $filtered -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $pages -}}
